/*Web Crawler */
body {
 overflow-x: hidden;
}
/*Content */
.content-section-a {
	margin-top: 40px;
}

/*Banner*/
.home-banner {
  margin-top: 65px;
  text-align: center;
  background: url(../img/spy.png) no-repeat center center;
  /*background-size: cover;*/
  padding-bottom: 165px;
  max-height: 30%;
}
/*image*/
.img-responsive {
	margin-top: -6px;
}
/*Form*/
.form {
	margin-top: 13px;
}
/*Links*/
a {
	color: #333;
}

/*button*/
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
#list {
  margin-top: 60px;
}
/*navigation space*/
.space {
  margin-top: 65px;
  /*padding-bottom: 165px;*/
}
.word-break{
  word-break:break-all;
}